.playpause {
  label {
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0 0 0 60px;
  }

  input[type="checkbox"] {
    visibility: hidden;

    &:checked + label {
      border-style: solid;
      border-width: 37px 0 37px 60px;
    }
  }
}